In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv(r'F:\Machine Learning\Kaggle\Marcedes Benz\train.csv')

In [2]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df = pd.read_csv(r'F:\Machine Learning\Kaggle\Marcedes Benz\train.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
df.shape

(4209, 2)

In [5]:
pd.get_dummies(df).shape

(4209, 71)

In [6]:
df = pd.read_csv(r'F:\Machine Learning\Kaggle\Marcedes Benz\train.csv',usecols=['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'])
predict = pd.read_csv(r'F:\Machine Learning\Kaggle\Marcedes Benz\train.csv',usecols=['y'],index_col=False)

df.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [7]:
predict.head()

        y
0  130.81
1   88.53
2   76.26
3   80.62
4   78.02

In [8]:
len(df['X1'].unique())

27

In [9]:
len(df['X2'].unique())

44

In [10]:
for col in df.columns:
    print(col," : " , len(df[col].unique()))

X0  :  47
X1  :  27
X2  :  44
X3  :  7
X4  :  4
X5  :  29
X6  :  12
X8  :  25

In [11]:
df.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [12]:
df['X1'].value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
ab      3
q       3
d       3
Name: X1, dtype: int64

In [13]:
for col in df.columns:
        count_frequency = df[col].value_counts().to_dict()
        df[col] = df[col].map(count_frequency)

In [14]:
df.head()

    X0   X1   X2    X3    X4  X5    X6   X8
0   11  408    6   440  4205   1  1039  163
1   11   31    4   163  4205   1   478  163
2  175   52  137  1942  4205   2  1039  105
3  175   31  137  1076  4205   2   478  225
4  175  408  137  1076  4205   1   625  242

In [15]:
value = predict.values

In [16]:
value

array([[130.81],
       [ 88.53],
       [ 76.26],
       ...,
       [109.22],
       [ 87.48],
       [110.85]])

In [17]:
df = df.assign(y=value)

In [18]:
df.head()

    X0   X1   X2    X3    X4  X5    X6   X8       y
0   11  408    6   440  4205   1  1039  163  130.81
1   11   31    4   163  4205   1   478  163   88.53
2  175   52  137  1942  4205   2  1039  105   76.26
3  175   31  137  1076  4205   2   478  225   80.62
4  175  408  137  1076  4205   1   625  242   78.02

In [19]:
df.head()

    X0   X1   X2    X3    X4  X5    X6   X8       y
0   11  408    6   440  4205   1  1039  163  130.81
1   11   31    4   163  4205   1   478  163   88.53
2  175   52  137  1942  4205   2  1039  105   76.26
3  175   31  137  1076  4205   2   478  225   80.62
4  175  408  137  1076  4205   1   625  242   78.02

In [20]:
import seaborn as sns

In [ ]:
sns.pairplot(df,hue='y')

C:\Users\ASUS\Anaconda3\lib\site-packages\numpy\core\_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\Users\ASUS\Anaconda3\lib\site-packages\numpy\core\_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\ASUS\Anaconda3\lib\site-packages\statsmodels\nonparametric\kde.py:487: RuntimeWarning: invalid value encountered in true_divide
  binned = fast_linbin(X, a, b, gridsize) / (delta * nobs)
C:\Users\ASUS\Anaconda3\lib\site-packages\statsmodels\nonparametric\kdetools.py:34: RuntimeWarning: invalid value encountered in double_scalars
  FAC1 = 2*(np.pi*bw/RANGE)**2
C:\Users\ASUS\Anaconda3\lib\site-packages\matplotlib\transforms.py:2832: RuntimeWarning: overflow encountered in double_scalars
  elif vmax - vmin <= maxabsvalue * tiny:
C:\Users\ASUS\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:2477: RuntimeWarning: overflow encountered in double_scalars
  delta = (x1t - x0t) * margin