In [1]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC , LinearSVR
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier,SGDRegressor
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OrdinalEncoder,StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report

C:\Users\ASUS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\ASUS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\ASUS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\ASUS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df = pd.read_csv(r'F:\Machine Learning\Kaggle\One Hot Encoding\carprices.csv')
test_df = pd.read_csv(r'F:\Machine Learning\Kaggle\One Hot Encoding\test.csv')

In [3]:
df

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [4]:
df['Car Model'].unique()

array(['BMW X5', 'Audi', 'Mercedez Benz ', 'Toyota'], dtype=object)

In [5]:
df['Car Model'].value_counts()

BMW X5            5
Audi              4
Mercedez Benz     4
Toyota            3
Name: Car Model, dtype: int64

In [10]:
onehotencoded_train_data = pd.get_dummies(df,columns=['Car Model'])

print(onehotencoded_train_data)

    Mileage  Sell Price  Age  Car Model_Audi  Car Model_BMW X5  \
0     69000       18000    6               0                 1
1     35000       34000    3               0                 1
2     57000       26100    5               0                 1
3     22500       40000    2               0                 1
4     46000       31500    4               0                 1
5     59000       29400    5               1                 0
6     52000       32000    5               1                 0
7     72000       19300    6               1                 0
8     91000       12000    8               1                 0
9     67000       22000    6               0                 0
10    83000       20000    7               0                 0
11    79000       21000    7               0                 0
12    59000       33000    5               0                 0
13    51000       42000    4               0                 0
14    65000       32000    7               0                 0
15    39000       55000    5               0                 0

    Car Model_Mercedez Benz   Car Model_Toyota
0                          0                 0
1                          0                 0
2                          0                 0
3                          0                 0
4                          0                 0
5                          0                 0
6                          0                 0
7                          0                 0
8                          0                 0
9                          1                 0
10                         1                 0
11                         1                 0
12                         1                 0
13                         0                 1
14                         0                 1
15                         0                 1

In [11]:
onehotencoded_test_data = pd.get_dummies(test_df,columns=['Car Model'])
print(onehotencoded_test_data)

   Mileage  Sell Price  Age  Car Model_Audi
0    45000         NaN    8               1

In [12]:
onehotencoded_train_data.columns

Index(['Mileage', 'Sell Price', 'Age', 'Car Model_Audi', 'Car Model_BMW X5',
       'Car Model_Mercedez Benz ', 'Car Model_Toyota'],
      dtype='object')

In [22]:
onehotencoded_test_data['Car Model_Mercedez Benz '] = 0
onehotencoded_test_data['Car Model_Toyota'] = 0
onehotencoded_test_data['Car Model_BMW X5'] = 0

In [23]:
onehotencoded_test_data

,Mileage,Sell Price,Age,Car Model_Audi,Car Model_Mercedez Benz,Car Model_Toyota,Car Model_BMW X5
0,45000,NaN,8,1,0,0,0

In [24]:
X_train = onehotencoded_train_data[['Mileage','Age', 'Car Model_Audi', 'Car Model_BMW X5',
       'Car Model_Mercedez Benz ', 'Car Model_Toyota']]
y_train = onehotencoded_train_data['Sell Price']
X_test = onehotencoded_test_data[['Mileage','Age', 'Car Model_Audi', 'Car Model_BMW X5',
       'Car Model_Mercedez Benz ', 'Car Model_Toyota']]

In [26]:
models = [LinearRegression() , LogisticRegression() , SVC(), KNeighborsRegressor(), RandomForestRegressor()]

for model in models:
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(model.score(X_test,y_pred))
    print(model)
    print(y_pred)

nan
LinearRegression()
[39677.03033127]
1.0
LogisticRegression()
[32000]
1.0
SVC()
[32000]
nan
KNeighborsRegressor()
[38900.]
nan
RandomForestRegressor()
[35166.]

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)