In [17]:
class Person:
    def _init_(self,name, nid):
        self.name=name
        self.nid = nid
        
    def info(self):
        print("Name:",self.name)
        print("NID:",self.nid)


# Write your code here:

class Teacher:
     def _init_(self,name,nid,em_id,s1="" , s2="" , s3="" , s4=""):
        self.name=name
        self.nid = nid
        print("Name : ",self.name)
        print("NID: ",self.nid)
        print("Employee_ID: ",self.em_id)
        subjects=[]
        subjects.append(s1)
        subjects.append(s2)
        subjects.append(s3)
        subjects.append(s4)
        
        print("Subject: ")
        
        print(subjects)
        
        subjects.clear()
        
        
        
        
        
    
Teachers = []

P1 = Person("Fariha", 1357924680)
P1.info()
print("1.======================================")
T1 = Teacher("Sabur",8346349712, 3515, "Math", "Physics")
T2 = Teacher("Hamid", 8423657216, 9523,"Economics")
T3 = Teacher("Rufaidah", 3578951236, 
7236, "Math","Chemistry", "Biology", "Physics")
T4 = Teacher("Rimon", 1930667892, 4228, "Physics")

SyntaxError: invalid character in identifier (<ipython-input-17-60068a7ea6f4>, line 6)